<?xml version="1.0"?>
<!--
  Remember to exclude this file from your source control. Otherwise you defeat the purpose of all of this.  
  -->
 <appSettings>
   <add key="App1Password" value="2JxnpWUK55kFCJ9AfMnJ" />
   <add key="App2Password" value="This is another password" />
   <add key="Test Password" value="TestPassword" />
 </appSettings>
